/*@media (max-width: 600px) {
  .facet_sidebar {
    display: none;
  }*/

/*img.bg {
   Set rules to fill background 
  min-height: 100%;
  min-width: 2859px;
	
   Set up proportionate scaling 
  width: 100%;
  height: auto;
	
   Set up positioning 
  position: fixed;
  top: 0;
  left: 0;

  z-index: 0;
}*/
h1{
	color: #49338A;
	font-size: 3em;
	float: left;
}

.container{
	background-image: url(images/algonqpark-sunset.jpg);
	background-size: cover;
	/*width: contain;*/
  	height: auto;
	font-family: Tahoma, Geneva, sans-serif;
	z-index: 0;
}

.header{
	width: 100%; 
    background-color: rgba(255,255,255,0.9);
	padding-left: 15%;
	padding-top: 3em;
	padding-bottom: 0px;
	z-index: 5;
}

.header a{
	color: #49338A;
	font-size: 1.25em;
	padding-right: 5%
	width: 10%;
	text-align: right;
	float: right;
	z-index: 1;
}

.fixed-pos{
	position: fixed;
}

.ilb{
	display: inline-block;
}

.about-me{/*
    position: relative;*/
	padding-top: 3em;
    width: 100%;
    padding-bottom: auto;
    overflow: hidden;
    background-color: rgba(255,255,255,0.4);
}

.about-me img{
    opacity: 1.0;
    width: auto;
    min-height: 5em;
    max-height: 10em;
    height: 35%;
    margin-top: 3em;
    z-index: 5;
    float: left;
}

/*.about-me img{
    opacity: 1.0;
    width: auto;
    height: 35%;
    margin-top: 3em;
    z-index: 5;
}*/

.about-me p{
	color: #2E212D;
	font-size: 1.25em;
	padding-left: 5%;
	width: 70%;
	padding-top: 3.5em;
	text-align: left;
	float: left;
	z-index: 1;
}

.contact-me-pls{
	background-color: rgba(73,51,138,0.4);
	padding: 2em;
	text-align: center;
}

.contact-me-pls img{
	margin: 2em;
    opacity: 1.0;
    width: auto;
    height: 15%;
    z-index: 5;
}
.contact-me-pls img:hover{
	margin: 2em;
    opacity: 0.6;
    width: auto;
    height: 15%;
    z-index: 5;
}

/*mobile*/
@media screen and (max-width: 2859px) { /* Specific to this particular image 
  img.bg {
    left: 50%;
    margin-left: -1430px;   /* 50% 
  }
}

/*
a:hover {
    text-decoration: none;
}*/
